  <div class="row">
    <button tipe="button" class="btn btn-outline-info" routerLink="/editacercade/1" *ngIf="isLogged">
      Editar persona
    </button>
    <div class="col-lg-2" id="perfil"></div>
    <div class="col-lg-2">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img src={{persona.img}} class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
      <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <P id="fsd">full stack developer JR</P>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
      <span>
        <h1 id="dmititulo">ACERCA DE MI</h1>
        <P id="descripcion">{{persona.descripcion}}</P>
      </span>
    </div>
  </div>

