<div class="row">
<!--EXPERIENCIA LABORAL-->

  <div class="col-lg-1"></div>
  <DIV class="col-lg-5">
    <h1 id="laboral">EXPERIENCIA LABORAL</h1>

    <div id="lista1">
      <ul>
        <li>    <h1>TRABAJO</h1>  -  <h3>años</h3></li>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, recusandae. Doloremque dolor voluptates quisquam. Architecto, fugiat tempore modi magni quam obcaecati minima temporibus ut officiis voluptatibus incidunt earum sunt saepe!</p>
      </ul>

      <ul>
        <li>    <h1>TRABAJO</h1>  -  <h3>años</h3></li>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, recusandae. Doloremque dolor voluptates quisquam. Architecto, fugiat tempore modi magni quam obcaecati minima temporibus ut officiis voluptatibus incidunt earum sunt saepe!</p>
      </ul>


      <ul>
        <li>    <h1>TRABAJO</h1>  -  <h3>años</h3></li>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, recusandae. Doloremque dolor voluptates quisquam. Architecto, fugiat tempore modi magni quam obcaecati minima temporibus ut officiis voluptatibus incidunt earum sunt saepe!</p>
      </ul>

      <ul>
        <li>    <h1>TRABAJO</h1>  -  <h3>años</h3></li>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, recusandae. Doloremque dolor voluptates quisquam. Architecto, fugiat tempore modi magni quam obcaecati minima temporibus ut officiis voluptatibus incidunt earum sunt saepe!</p>
      </ul>
    </div>


  </DIV>

<!--EDUCACION-->
  <div class="col-lg-1"></div>
  <DIV class="col-lg-5">
    <h1 id="std"> EDUCACION </h1>
    <div id="lista2">
      <ul>
        <li>    <h1>ESTUDIO</h1>  -  <h3>años</h3></li>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, recusandae. Doloremque dolor voluptates quisquam. Architecto, fugiat tempore modi magni quam obcaecati minima temporibus ut officiis voluptatibus incidunt earum sunt saepe!</p>
      </ul>

      <ul>
        <li>    <h1>ESTUDIO</h1>  -  <h3>años</h3></li>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, recusandae. Doloremque dolor voluptates quisquam. Architecto, fugiat tempore modi magni quam obcaecati minima temporibus ut officiis voluptatibus incidunt earum sunt saepe!</p>
      </ul>

      <ul>
        <li>    <h1>ESTUDIO</h1>  -  <h3>años</h3></li>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, recusandae. Doloremque dolor voluptates quisquam. Architecto, fugiat tempore modi magni quam obcaecati minima temporibus ut officiis voluptatibus incidunt earum sunt saepe!</p>
      </ul>

      <ul>
        <li>    <h1>ESTUDIO</h1>  -  <h3>años</h3></li>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, recusandae. Doloremque dolor voluptates quisquam. Architecto, fugiat tempore modi magni quam obcaecati minima temporibus ut officiis voluptatibus incidunt earum sunt saepe!</p>
      </ul>
    </div>


  </DIV>




</div>
