<div class="row">


      <div class="col-lg-9">
        <h1 id="titulo">PROYECTO</h1>
      </div>


  <div class="col-lg-2" id="newboton">
    <button tipe="button" class="btn btn-outline-info" routerLink="/newproyecto" *ngIf="isLogged">
      AGREGAR PROYECTO
    </button>
  </div>

  <div class="col-lg-10" id="cajon">
    <table class="table">
      <tbody>
        <tr *ngFor="let Proyecto of Proyecto">
            <td style="width:20%">
              <h1>{{Proyecto.nombre}}</h1>
              <h4>{{Proyecto.page}}</h4>
            </td>
            <td style="width:10%">
              <h3>({{Proyecto.fecha}})</h3></td>
            <td style="width:49%" >
                <P id="descripcion">{{Proyecto.descripcion}}</P>
            </td>
            <td style="width:10%"></td>
          <td style="width:5%" *ngIf="isLogged" >
            <button class="btn btn-light" routerLink="/editproyecto/{{Proyecto.id}}">
                <abbr title="EDITAR">
                  <i class="bi bi-pencil-square">
                </i></abbr>
            </button>
            </td>
            <td style="width:5%" *ngIf="isLogged">
          <button class="btn btn-danger" (click)="delete(Proyecto.id)">
            <abbr title="BORRAR">
              <i class="bi bi-trash">
            </i></abbr>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


