<div class="row">
  <div class="container">
    <div class="logo">

      <img src="../../../assets/argprograma.png" id="logoap">

    </div>

    <div class="redes">
      <a href="https://www.facebook.com/VillaAdriaNN/"> <img src="../../../assets/facebook2.png" id="facebook"></a>
      <a href=""> <img src="../../../assets/instagram2.png" id="instagram"></a>
      <a href=""> <img src="../../../assets/twitter2.png" id="twitter"></a>
      <a href=""> <img src="../../../assets/telegram2.png" id="telegram"></a>
      <a href=""> <img src="../../../assets/whatsapp2.png" id="whatsapp"></a>
      <button type="button" class="btn btn-outline-success btn-lg">INGRESO</button>
    </div>

  </div>

</div>
