.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logoap{
  width: 250px;
}

img{
  width: 40px;
}

.redes{
  margin-right: 20px;
}

#whatsapp{
  margin-right: 40px;
}

a{
  margin: 10px;
}

.btn{
  width: 200px;
}

