<div class="row">

  <h1 id="hard"> HARD SKILLS</h1>

  <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <h2>HTML</h2>
      <circle-progress
      [percent]="75"
      [radius]="100"
      [titleColor]="'#00ffff'"
      [unitsColor]="'#00ffff'"
      [titleFontSize]="'50px'"
      [unitsFontSize]="'30px'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <H2>CSS</H2>
      <circle-progress
      [percent]="65"
      [radius]="100"
      [titleColor]="'#00ffff'"
      [unitsColor]="'#00ffff'"
      [titleFontSize]="'50px'"
      [unitsFontSize]="'30px'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <H2>JAVASCRIPT</H2>
      <circle-progress
      [percent]="60"
      [radius]="100"
      [titleColor]="'#00ffff'"
      [unitsColor]="'#00ffff'"
      [titleFontSize]="'50px'"
      [unitsFontSize]="'30px'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <H2>ANGULAR</H2>
      <circle-progress
      [percent]="85"
      [radius]="100"
      [titleColor]="'#00ffff'"
      [unitsColor]="'#00ffff'"
      [titleFontSize]="'50px'"
      [unitsFontSize]="'30px'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <H2>GITHUB</H2>
      <circle-progress
      [percent]="85"
      [radius]="100"
      [titleColor]="'#00ffff'"
      [unitsColor]="'#00ffff'"
      [titleFontSize]="'50px'"
      [unitsFontSize]="'30px'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <H2>PHOTOSHOP</H2>
      <circle-progress
      [percent]="85"
      [radius]="100"
      [titleColor]="'#00ffff'"
      [unitsColor]="'#00ffff'"
      [titleFontSize]="'50px'"
      [unitsFontSize]="'30px'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>

  <h1 id="soft"> SOFT SKILLS</h1>

  <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <h2>COMUNICACION</h2>
      <circle-progress
      [percent]="75"
      [radius]="100"
      [titleColor]="'#00ffff'"
      [unitsColor]="'#00ffff'"
      [titleFontSize]="'50px'"
      [unitsFontSize]="'30px'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <H2>INDIVIDUAL</H2>
      <circle-progress
      [percent]="65"
      [radius]="100"
      [titleColor]="'#00ffff'"
      [unitsColor]="'#00ffff'"
      [titleFontSize]="'50px'"
      [unitsFontSize]="'30px'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <H2>CREATIVIDAD</H2>
      <circle-progress
      [percent]="60"
      [radius]="100"
      [titleColor]="'#00ffff'"
      [unitsColor]="'#00ffff'"
      [titleFontSize]="'50px'"
      [unitsFontSize]="'30px'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <H2>DEDICACION</H2>
      <circle-progress
      [percent]="85"
      [radius]="100"
      [titleColor]="'#00ffff'"
      [unitsColor]="'#00ffff'"
      [titleFontSize]="'50px'"
      [unitsFontSize]="'30px'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>

    <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <H2 id="tee">TRABAJO EN EQUIPO</H2>
      <circle-progress
      [percent]="85"
      [radius]="100"
      [titleColor]="'#00ffff'"
      [unitsColor]="'#00ffff'"
      [titleFontSize]="'50px'"
      [unitsFontSize]="'30px'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>

  <div class="text-center col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <H2>ORGANIZACION</H2>
    <circle-progress
      [percent]="85"
      [radius]="100"
      [titleColor]="'#00ffff'"
      [unitsColor]="'#00ffff'"
      [titleFontSize]="'50px'"
      [unitsFontSize]="'30px'"
      [showUnits]="true"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>




</div>
